2_MySQL/0_MySQL_DATA_BKUP/
2_MySQL/data
__pycache__/
*.pyc
8_PyWorker/Logs/
.gitignore
8_PyWorker/Library/A6_Zabbix/__pycache__/
7_SocketIO_Server/Library/A9_MQTT/__pycache__/
7_SocketIO_Server/Application/Conf/__pycache__/
8_PyWorker/Application/__pycache__/
8_PyWorker/Conf/__pycache__/
8_PyWorker/Library/A6_Zabbix/__pycache__/
8_PyWorker/Library/A9_MQTT/__pycache__/